{% extends 'HostnetCodeQualityBundle:Default:base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div id="upload_code_patch_box" style="background-color:white;border-radius: 8px 8px 6px 6px;width:30%;height:25%;margin:5% 0px 0px 5%;padding:10px;">
    <div style="border-bottom-style:solid;border-width:thin;margin-bottom:25px;">
      <span>New Code Quality Analyse Request</span>
    </div>
    <table>
      <tbody>
        <tr>
          <td style="width:150px;">
            Project:
          </td>
          <td>
            <input type="text" name="code_patch_project_name" id="code_patch_project_name"/>
          </td>
        </tr>
        <tr style="height:50px;">
          <td>
            Diff:
          </td>
          <td>
            <input type="file" name="code_patch_file" id="code_patch_file"/>
          </td>
        </tr>
        <tr style="">
          <td rowspan="2">
            <input type="submit" value="Analyse Code"/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}